﻿@model FileInputParams

<script src="~/lib/bs-custom-file-input//dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init();
        $("#inputGroupFile").on('change', function () {
            var input = $(this)[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result).fadeIn('slow');
                    $('#preview').removeClass('rounded-circle');
                    $('#preview').addClass('rounded');
                }

                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>

@if (Model.NewLine)
{
    <div class="input-group col-md-12 mb-3 p-0 pt-4">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile" name="file" accept=".@(Model.Accept)">
            <label class="custom-file-label" for="inputGroupFile" aria-describedby="inputGroupFileAddon">@Model.Text</label>
        </div>
    </div>

    <div class="border col-md-12 rounded-lg text-center p-3">
        <img src="~/images/image.png" class="rounded-circle img-fluid" id="preview" style="max-height:@(Model.MaxHeight)px" />
    </div>
}
else
{
    <div class="input-group d-flex mt-4">
        <div class="border rounded-lg" style="width:38px; height: 38px;">
            <img src="@Model.Image" class=" img-fluid" id="preview"  />
        </div>
        <div class=" mb-3 p-0 pl-3 flex-fill">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile" name="file" accept=".@(Model.Accept)">
                <label class="custom-file-label" for="inputGroupFile" aria-describedby="inputGroupFileAddon">@Model.Text</label>
            </div>
        </div>
    </div>
}
