﻿@model WorkOut.Data.Models.Workout

@{
    ViewData["Title"] = "Details";
}

<h2>Workout</h2>
<h5><img style='width:30px; height:30px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ActivityType.Icon))" /> @Model.ActivityType?.Name</h5>
<div>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl class="dl-horizontal">
                <dt>
                    Date/time start
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateTimeStart)
                </dd>
                <dt>
                    Duration
                </dt>
                <dd>
                    @((Model.DateTimeFinish - Model.DateTimeStart).ToString())
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Calouries)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Calouries)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Point)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Point)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pause)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pause)
                </dd>
                @if (Model.Description != null)
                {
                <dt>
                    Description
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                }
            </dl>
        </div>       
    </div>

</div>
<div>
    <a asp-action="EditTime" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
