﻿@model CreateWorkoutViewModel

@{
    ViewData["Title"] = "Create number";
}

<h2>Create</h2>

<h4>Counter workout</h4>
<hr />

<style>
    .sign-pause {
        text-align: center;
        font-size: 12px;
    }

    .stock-icon {
        font-size: 18px;
        display: inline;
        color: #dc3545;
        cursor: pointer;
    }

    .icon-turquoise {
        font-size: 17px;
        display: inline;
        color: #005bbd;
        cursor: pointer;
        margin-bottom: 20px;
        margin-right: 5px;
        font-weight: 500;
    }

    .add-set-block {
        font-size: 17px;
        cursor: pointer;
        color: #005bbd;
        font-weight: 400;
        user-select: none;
    }


        .add-set-block:hover, .add-set-block:hover i {
            color: #00438c;
            font-weight: 500;
        }

            .add-set-block:hover i {
                font-weight: 600;
            }

    .set-block:not(:first-child) {
        margin-top: 15px;
    }
</style>

<form asp-action="CreateNumber" method="post">
    <!--HIDDEN INPUT-->
    <input id="workout-pause" name="Workout.Pause" type="hidden" class="form-control" value="0:00:00" />
    <input id="workout-finish" name="Workout.DateTimeFinish" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />

    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Date/time start</label>
                <input id="DateTimeStart" name="Workout.DateTimeStart" type="datetime-local" value="@DateTime.Now.AddMinutes(-3).ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
                <span asp-validation-for="Workout.DateTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date/Time duration</label>

                <div class="row justify-content-between finish-block">
                    <div class="col-3">
                        <input id="f-hour" name="hour" type="number" value="0" style="width: 100px;" class="form-control" min="0" />
                        <h6 class="sign-pause">Hour</h6>
                    </div>
                    <div class="col-1">
                        :
                    </div>
                    <div class="col-3">
                        <input id="f-minute" name="minute" type="number" value="5" style="width: 100px;" class="form-control" min="0" max="59" />
                        <h6 class="sign-pause">Minute</h6>
                    </div>
                    <div class="col-1">
                        :
                    </div>
                    <div class="col-3">
                        <input id="f-second" name="second" type="number" value="0" style="width: 100px;" class="form-control" min="0" max="59" />
                        <h6 class="sign-pause">Second</h6>
                    </div>
                </div>

                <span asp-validation-for="Workout.DateTimeFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Activity type</label>
                <select class="form-control" id="ActivityTypeSelect" name="Workout.ActivityTypeId">
                    @foreach (var item in Model.ActivityTypes)
                    {
                        <option value="@item.Id" data-type="@item.CountingType" data-kcal="@item.Kcal" data-point="@item.Point">@item.NewName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Workout.Pause" class="control-label"></label>

                <div class="row justify-content-between pause-block">
                    <div class="col-3">
                        <input id="p-hour" name="hour" type="number" value="0" style="width: 100px;" class="form-control" />
                        <h6 class="sign-pause">Hour</h6>
                    </div>
                    <div class="col-1">
                        :
                    </div>
                    <div class="col-3">
                        <input id="p-minute" name="minute" type="number" value="0" style="width: 100px;" class="form-control" max="59" />
                        <h6 class="sign-pause">Minute</h6>
                    </div>
                    <div class="col-1">
                        :
                    </div>
                    <div class="col-3">
                        <input id="p-second" name="second" type="number" value="0" style="width: 100px;" class="form-control" max="59" />
                        <h6 class="sign-pause">Second</h6>
                    </div>
                </div>

                <span asp-validation-for="Workout.Pause" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Workout.Calouries" class="control-label"></label>
                        <input id="kcal-input" name="Workout.Calouries" type="text" value="0" class="form-control" readonly min="0" />
                        <span asp-validation-for="Workout.Calouries" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label name="Point" class="control-label">Points</label>
                        <input id="point-input" type="text" value="0" class="form-control" readonly min="0" />
                    </div>
                </div>
            </div>
            <div class="form-group count-sets">Total count: <div id="total-count" class="d-inline">0</div></div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Description:</label>
                <textarea name="Workout.Description" class="form-control " id="exampleFormControlTextarea2" rows="2"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div id="sets-block">
                <div class="card">
                    <div class="card-body">
                        <div class="set-block">
                            <input name="set-datetime" type="hidden" class="datetime-set" />
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="control-label card-title">1 set</h5>
                                </div>
                                <div class="col-3 text-right">
                                    <i class="fa fa-trash-o stock-icon delete-set"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="number-label">Value:</label>
                                    <input name="Value" min="0" type="number" class="form-control value-count" value="0" />
                                </div>
                                <div class="col-6">
                                    <label class="weight-label">Weight:</label>
                                    <input name="Weight" class="form-control value-weight" value="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="add-set" class="card-footer text-center add-set-block">
                        <i class="fa fa-plus-square-o icon-turquoise"></i><span>Add set</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-danger mr-3" asp-action="Create">Back </a>
            <input type="submit" value="Add workout" class="btn btn-outline-primary" />
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('.datetime-set').val(moment().utc().utcOffset(3).format());

        $('#ActivityTypeSelect').on('change', function (event) {
            refreshCalouriesPoints();
        }).change();

        $('#add-set').click(function () {
            $('.card').find($('.set-block')).first().clone().appendTo('.card-body');
            $('.card').find($('.set-block')).last().find($('.value-count')).val(0);
            $('.card').find($('.set-block')).last().find($('.value-weight')).val(0);
            $('.card').find($('.set-block')).last().find($('.datetime-set')).val(moment().utcOffset(3).format());
            numberSets();
        });

        //set calouries and point
        $('#sets-block').on('change', '.value-count', function () {
            refreshCalouriesPoints();
        });

        function refreshCalouriesPoints() {
            var valKcal = 0;
            var valPoint = 0;
            var selectedTypeKcal = ($('#ActivityTypeSelect :selected').data("kcal") + '').replace(',', '.');
            var selectedTypePoint = ($('#ActivityTypeSelect :selected').data("point") + '').replace(',', '.');

            if ($('#sets-block').css('display') == "block") {
                var i = 0;

                $('.card-body').children().each(function () {
                    i += Number($(this).find('.value-count').val());
                });

                //set total count
                $('#total-count').text(i);

                valKcal = (i * selectedTypeKcal).toFixed();
                valPoint = (i * selectedTypePoint).toFixed();
            }

            $('#kcal-input').val(valKcal);
            $('#point-input').val(valPoint);
        }
        //finish set calouries


        $('.card').on('click', '.delete-set', function () {
            $(this).closest('.set-block').remove();

            numberSets();
        });

        function numberSets() {
            var i = 0;

            $('.card-body').children().each(function () {
                i++;
                $(this).find('.card-title').text(i + ' set');
                $(this).find('.value-count').attr('name', 'sets[' + (i - 1) + '].Value');
                $(this).find('.value-weight').attr('name', 'sets[' + (i - 1) + '].Weight');
                $(this).find('.datetime-set').attr('name', 'sets[' + (i - 1) + '].DateTime');
                $(this).find('.delete-set').css('display', 'block');
            });

            if (i == 1) {
                $('.card').find('.delete-set').css('display', 'none');
            }
        };

        numberSets();


        $('.pause-block').find('input').on('change', function () {

            var pause = $('#p-hour').val() + ':' + $('#p-minute').val() + ':' + $('#p-second').val();
            $('#workout-pause').val(pause);
        });

        $('.finish-block').find('input').on('change', function () {
            $('#workout-finish').val(moment($('#DateTimeStart').val()).add($('#f-hour').val(), 'hours').add($('#f-minute').val(), 'minutes').add($('#f-second').val(), 'seconds').format());
        });
    });
</script>
<script src="~/lib/moment/min/moment.min.js"></script>