﻿@model WorkOut.Data.Models.Workout

@{
    ViewData["Title"] = "Details number";
}


<h4>Workout</h4>
<h5><img style='width:30px; height:30px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ActivityType.Icon))" />  @Model.ActivityType.Name</h5>
<hr />
<div class="row">
    <div class="col-6">
        <dl class="dl-horizontal">
            <dt>
                Start time
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateTimeStart)
            </dd>
            <dt>
                Duration
            </dt>
            <dd>
                @((Model.DateTimeFinish - Model.DateTimeStart).ToString())
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Calouries)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Calouries)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Point)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Point)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pause)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pause)
            </dd>
            <dt>
                Sets
            </dt>
            <dd>
                @Model.NumberWorkout.Sets.Count()
            </dd>
            <dt>
                Total count
            </dt>
            <dd>
                @{
                    int sum = 0;
                    foreach (var item in Model.NumberWorkout.Sets)
                    { sum += item.Value; }
                }
                @sum
            </dd>
            @if (Model.Description != null)
            {
                <dt>
                    Description
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            }
        </dl>
    </div>
    <div class="col-6">

        @for (int i = 0; i < Model.NumberWorkout.Sets.Count; i++)
        {
            <div class="card mb-3">
                <div class="card-body p-3">
                    <div class="card-title">
                        <p>Подход @(i + 1):</p>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-6">
                                Количество: @Model.NumberWorkout.Sets.ElementAt(i).Value
                            </div>
                            <div class="col-6">
                                Вес: @Model.NumberWorkout.Sets.ElementAt(i).Weight
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>


</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="EditNumber" asp-route-id="@Model.Id">Edit</a>
</div>
