﻿@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">

    <div class="col-md-12 mb-6 p-0">
        <label>Name:</label><br />
        <input type="text" class="form-control" name="type.Name" required />
    </div>

    <div class="col-md-12 mb-6 p-0 mt-3">
        <label>Subtype name: (optional)</label><br />
        <input type="text" class="form-control" name="type.SubtypeName" />
    </div>

    <div class="form-group mt-3">
        <label>CountingType:</label><br />
        <div class="btn-group">
            <div class="custom-control custom-radio d-inline mr-3">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="type.CountingType" value="km" checked required>
                <label class="custom-control-label" for="defaultUnchecked">km</label>
            </div>
            <div class="custom-control custom-radio d-inline mr-3">
                <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="type.CountingType" value="counter" required>
                <label class="custom-control-label" for="defaultUnchecked2">counter</label>
            </div>
            <div class="custom-control custom-radio d-inline ">
                <input type="radio" class="custom-control-input" id="defaultUnchecked3" name="type.CountingType" value="time" required>
                <label class="custom-control-label" for="defaultUnchecked3">time</label>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-6">
            <label>Kcal: </label>
            <div class="input-group mb-3">
                <input id="input-kcal" name="type.Kcal" type="text" pattern="\d+(,\d+)?" class="form-control" placeholder="1,25" aria-label="1,25" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text type-measurement" id="basic-addon2">/km</span>
                </div>
            </div>
        </div>
        <div class="form-group  col-6">
            <label>Point: </label>
            <div class="input-group mb-3">
                <input id="input-point" name="type.Point" type="text" pattern="\d+(,\d+)?" class="form-control" placeholder="1,50" aria-label="1,50" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text type-measurement" id="basic-addon2">/km</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "png", Text = "Select icon for type activity...", NewLine = false })
    </div>
    <hr>
    <a class="btn btn-outline-danger" href="@Url.Action(" Index", "ActivityType" )">Back</a>
    <button class="btn btn-outline-primary" type="submit">Add</button>
</form>

<script>
    $(document).ready(function () {

        $('.custom-control-input').on('change', function (event) {
            if ($(this).val() == "km")
                $(".type-measurement").text('/km');
            else if ($(this).val() == "counter")
                $(".type-measurement").text('/unit');
            else if ($(this).val() == "time")
                $(".type-measurement").text('/minute');
        });

    });
</script>