﻿@model ActivityType
@{
    ViewData["Title"] = "Edit " + Model.Name;
}
<selection>
    <div class="container">
        <h2>
            Edit
            @if (Model.Icon != null)
            {
                @:<img style='width:30px; height:30px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Icon))" />
            }
            @Model.Name
        </h2>

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="col-md-12 mb-6 p-0">
                <label>Name:</label><br />
                <input type="text" asp-for="Name" class="form-control" required />
            </div>

            <div class="col-md-12 mb-6 p-0 mt-3">
                <label>Subtype name: (optional)</label><br />
                <input type="text" asp-for="SubtypeName" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <label>CountingType:</label><br />
                <div class="btn-group">
                    <div class="custom-control custom-radio d-inline mr-3">
                        <input id="km-check" type="radio" class="custom-control-input" asp-for="CountingType" value="km" checked required>
                        <label class="custom-control-label" for="km-check">km</label>
                    </div>
                    <div class="custom-control custom-radio d-inline mr-3">
                        <input id="count-check" type="radio" class="custom-control-input" asp-for="CountingType" value="counter" required>
                        <label class="custom-control-label" for="count-check">counter</label>
                    </div>
                    <div class="custom-control custom-radio d-inline ">
                        <input id="time-check" type="radio" class="custom-control-input" asp-for="CountingType" value="time" required>
                        <label class="custom-control-label" for="time-check">time</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-6">
                    <label>Kcal: </label>
                    <div class="input-group mb-3">
                        <input id="input-kcal" asp-for="Kcal" type="text" pattern="\d+(,\d+)?" class="form-control" placeholder="1,25" aria-label="1,25" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text type-measurement" id="basic-addon2">/km</span>
                        </div>
                    </div>
                </div>
                <div class="form-group  col-6">
                    <label>Point: </label>
                    <div class="input-group mb-3">
                        <input id="input-point" asp-for="Point" type="text" pattern="\d+(,\d+)?" class="form-control" placeholder="1,50" aria-label="1,50" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text type-measurement" id="basic-addon2">/km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "png", Text = "Select new icon for type activity...", NewLine = false, Image = (Model.Icon != null) ? ("data:image/jpeg;base64," + Convert.ToBase64String(Model.Icon)) : "" })
            </div>
            <hr>
            <a class="btn btn-outline-danger" href="@Url.Action("Index", "ActivityType")">Back</a>
            <button class="btn btn-outline-primary" type="submit">Save changes</button>
        </form>
    </div>
</selection>


<script>
    $(document).ready(function () {

        $('.custom-control-input').on('change', function (event) {
            changeTypeKcal();
        });

        function changeTypeKcal() {
            if ($("#km-check").prop("checked") == true)
                $(".type-measurement").text('/km');
            else if ($("#count-check").prop("checked") == true)
                $(".type-measurement").text('/unit');
            else if ($("#time-check").prop("checked") == true)
                $(".type-measurement").text('/minute');
        };

        changeTypeKcal();
    });
</script>