﻿@model IEnumerable<ActivityType>

@{
    ViewData["Title"] = "Types training";
}

<div class="row px-3 ">
    <div class="col-5">
        <h2>List types trainings</h2>
    </div>
    <div class="col-7 text-right">
        <a class="btn btn-outline-primary" href="@Url.Action("Add")">Add new type</a>
    </div>
</div>

<br /><br />

<style>
    .card {
        height: 220px;
    }

    .action-btn {
        position: absolute;
        right: 7px;
        top: 4px;
    }

        .action-btn img {
            width: 20px;
            height: 20px;
        }

    .delete-btn {
        cursor: pointer;
    }

    .info-block img {
        width: 20px;
        height: 20px;
    }

    .info-block {
        line-height: 20px;
    }

    .footer {
        position: absolute;
        bottom: 5px;
        align-self: center;
        width: 100%;
        left: 0;
    }

    .info-block {
        position: absolute;
        bottom: 65px;
        align-self: center;
        width: 100%;
        left: 15px;
        right: 0;
    }
</style>


<div class="container ">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mb-4">
                <div class="card text-center shadow-sm">
                    <div class="action-btn">
                        <a href="@Url.Action("Edit", new { id=item.Id })" title="Edit"><img src="~/Content//icon//action//edit.png" /></a>
                        <form id="delete-form" asp-action="Delete" method="post" style="display:none;">
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                        <a class="delete-btn" title="Delete"><img src="~/Content//icon//action//delete.png" /></a>
                    </div>
                    <div class="card-body">
                        @if (item.Icon != null)
                        {
                            <img style='width:50px; height:50px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(@item.Icon))" />
                        }
                        <h5 class="card-title mt-2 mb-0">@item.Name</h5> <h6>@(@item.SubtypeName != null ? "(" + @item.SubtypeName + ")" : "")</h6>
                        <div class="row info-block justify-content-center">
                            <div class="col-4">
                                <img src="~/Content//icon/cal.png" title="Calories" /> @item.Kcal
                            </div>
                            <div class="col-4">
                                <img src="~/Content//icon/point.png" title="Point" /> @item.Point
                            </div>
                        </div>
                        <p class="card-text footer"><small class="text-muted">@item.CountingType</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-right " style="font-size:11px;"> Total types: @Model.Count()</div>
<hr />

   

    <a class="btn btn-outline-danger" href="@Url.Action("Index", "Home" )">Back</a>
    
    <script>
        $(document).ready(function () {
            $(".delete-btn").click(function () {
                if (confirm("Вы уверены что хотите удалить запись?")) {
                    $(this).prev().submit();
                }
            });
        });
    </script>
