﻿@model WorkOut.Data.Identity.User
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>



<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    @if (Model.Avatar == null)
    {
        @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "jpg", Text = "Select avatar...", NewLine = false, Image = "/Content/icon/avatar.png" })
    }
    else
    {
        @await Component.InvokeAsync(nameof(FileInput), new FileInputParams() { Accept = "jpg", Text = "Select new avatar...", NewLine = false, Image = "data:image/jpeg;base64," + Convert.ToBase64String(Model.Avatar) })
    }

    <div class="form-group">
        <label>First name: </label>
        <input class="form-control" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label>Last name: </label>
        <input class="form-control" asp-for="LastName" />
    </div>

    <a href="@Url.Action("Index")" class="btn btn-outline-danger">Back</a>
    <button class="btn btn-outline-primary" type="submit">Save changes</button>
</form>


