﻿@model IEnumerable<HistoryPoint>
@{
    ViewData["Title"] = "HistoryPoint";
}

<h2>History point</h2>
<style>
    img{
    width: 35px;
    height: 35px;
    }
    .table td {
  line-height: 35px;
}
    .table {
}
</style>


    <table class="table mt-4">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right"><img src="~/Content/icon/historyPoint/@(item.Type).png" /></td>
                    <td>@char.ToUpper(@item.Type[0])@item.Type.Substring(1)  @item.Info</td>
                    <td class="text-center"><b>@item.Count.ToString("+#;-#;0")</b> <img src="~/Content/icon/point.png" style="height: 20px; width:20px" /></td>
                    <td class="text-center">@item.DateTime</td>
                </tr>
            }
        </tbody>
    </table>
<hr />

<a href="@Url.Action("Index")" class="btn btn-outline-danger">Back</a>