﻿@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<style>
    .block {
        border-radius: 5px;
        padding: 15px;
    }

    .photo-block {
        width: 100%;
    }

        .photo-block img {
            width: 100%;
            border-radius: 5px;
        }

        .photo-block a {
            padding-right: 5px;
            margin-top: 15px;
        }

    .block:not(:first-child) {
        margin-top: 20px;
    }

    .weight-block span.value-weight {
        font-size: 20px;
        vertical-align: middle;
        padding-left: 5px;
    }

    .weight-block span.type {
        color: red;
        vertical-align: bottom;
        font-weight: 500;
    }

    .update-weight {
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>

<div class="row px-5">
    <div class="col-4">
        <div class="block photo-block shadow ">
            @if (Model.User.Avatar != null)
            {
                @:<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.User.Avatar))" />
            }
            else
            {
                @:<img src="/Content/icon/avatar.png" />
            }
            <a href="@Url.Action("Edit")" class="btn btn-block btn-outline-danger">Edit profile</a>
            <a href="@Url.Action("HistoryPoint")" class="btn btn-block btn-outline-success">History point</a>
        </div>
        <div class="block friend-block shadow ">
            friends block
        </div>
        <div class="block weight-block shadow ">
            <img src="~/Content/icon/profile/scales.png" height="25" />
            @if (Model.CurrentWeight != null)
            {
                <span class="value-weight">@Model.CurrentWeight.Weight.ToString("#.##").Replace(',', '.')</span><span class="type">kg</span>
            }
            else
            {
                <span class="value-weight">---</span>
            }

            <button class="update-weight btn float-right btn-outline-success" data-toggle="modal" data-target="#ModelWeight">Update</button>
            <button class="update-weight mr-2 float-right  btn btn-outline-danger" onclick="location.href='@Url.Action("ListWeight")';">Show all</button>
        </div>
    </div>
    <div class="col-8">
        <div class="block info-block shadow ">
            <h5>@Model.User.FirstName @Model.User.LastName</h5>
            <hr>
            Point: @Model.User.Point
        </div>
        <style>

        </style>
        <div class="block stat-weight-block shadow ">
            <center><h6 class="d-inline">Your weight </h6> <text class="d-inline" style="font-size: 11px;">(last 7 records)</text></center>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModelWeight" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new weight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Profile" asp-action="AddWeight">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label>New weight:</label>
                        <input name="weight" type="text" pattern="\d+(,\d+)?" placeholder="60,25" aria-label="60,25" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add weight" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" /> 
<script>
    //line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    document.getElementById("lineChart").height = 100;
    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
            responsive: true,
            labels: [@Html.Raw(string.Join(",", Model.ChartWeights.Select(x => "'" + x.Date + "'".ToString())))],
            datasets: [{
                data: [@string.Join(",", Model.ChartWeights.Select(x=> x.Weight.ToString().Replace(',','.')))],
                backgroundColor: [
                    'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                    'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
            }
            ]
        },
        options: {
            legend: {
             display: false
            },
            responsive: true
        }
    });


</script>