﻿@model IEnumerable<HistoryWeight>

@{
    ViewData["Title"] = "ListWeight";
}

<h2>ListWeight</h2>

<style>
    table th, table td {
   text-align: center; 
}
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @item.Weight.ToString().Replace(',','.')
            </td>

        </tr>
}
    </tbody>
</table>

<a class="btn btn-outline-danger" href="@Url.Action("Index")">Back</a>