﻿<style>
    .page-footer{ 
  position:relative; 
  bottom:0; 
  width:100%; 
  height:60px; 
}
</style>

<footer class="page-footer font-small blue shadow border-top">
    <div class="footer-copyright text-center py-3">
        © 2019 <a class="text-decoration-none" href="@Url.Action("Index", "Home")"> Work<span style="color:red; font-weight: 500;">Out</span> with US!</a>
    </div>
</footer>