﻿<style>
    .header {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .logo {
        height: 40px;
        padding-right: 20px;
        padding-bottom: 3px;
    }

    .first-text {
        font-weight: 700;
    }

    .second-text {
        color: red;
        font-weight: 500;
    }

    .my-avatar {
        height: 40px;
        width: 40px;
    }
</style>


<div class="header d-flex flex-column flex-md-row align-items-center p-3  bg-white border-bottom box-shadow">

    <h5 class="my-0 mr-md-auto font-weight-normal"><a style="text-decoration: none; color: currentColor;" href="@Url.Action("Index", "Home")"><img class="logo" src="~/Content/icon/header/dumbbell.png"><span class="first-text">Work</span><span class="second-text">Out</span></a></h5>


    @if (User.Identity.IsAuthenticated == false)
    {
        <a class="btn btn-outline-primary mr-3" href="@Url.Action("Login", "Account")">Sign up</a>
        <a class="btn btn-outline-danger" href="@Url.Action("Register", "Account")">Register</a>
    }
    else
    {
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="@Url.Action("Index", "ActivityType")">Activity types</a>
            <a class="p-2 text-dark" href="@Url.Action("Index", "Workout")">Workout</a>
            <a class="p-2 text-dark" href="@Url.Action("Find", "User")">Users</a>
        </nav>
        <a href="@Url.Action("Index", "Profile")" class="mr-4 text-decoration-none ">
            @if (UserManager.GetUserAsync(User).Result.Avatar != null)
            {
                <img class="my-avatar rounded-circle ml-5" src="data:image/jpeg;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.Avatar))" />
            }
            else
            {
                <img class="my-avatar rounded-circle ml-5" src="~/Content/icon/header/avatar.png" />
            }
            &nbsp; @User.Identity.Name
        </a>
        <form method="post" asp-controller="Account" asp-action="LogOff">
            <input class="btn btn-outline-danger" type="submit" value="Logout" />
        </form>
    }
</div>