﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=devive-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/Content/favicon.ico" />
    <style>
        html { 
            height:100%; 

        }
        body {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding:0; margin:0; position:relative; 
        }

        .body-content{
           flex-grow: 5;
        }
    </style>
</head>
<body>

    @await Html.PartialAsync("_Header")

    <div class="container body-content px-0 py-3">
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")
</body>
</html>