﻿@model WorkOut.Data.ViewModels.LoginViewModel

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5">
            <form method="post" asp-controller="Account" asp-action="Login" class="mb-5" asp-route-returnUrl="@Model.ReturnUrl">
                <h2 class="mb-5 text-center">Вход в приложение</h2>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>User name:</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input asp-for="RememberMe" /> <label asp-for="RememberMe"></label>
                </div>
                <input type="submit" class="mt-4 btn btn-block btn-outline-primary " value="Войти" />
            </form>
        </div>
    </div>
</div>
