﻿@model IEnumerable<User>
@{
    ViewData["Title"] = "Find";
}

<style>
    .find-user-block {
        padding: 15px 0;
       
    }

     .find-user-block:not(:first-child) {
     border-top: 1px solid rgba(0, 0, 0, 0.1);
       
    }
        .find-user-block .avatar {
            height: 80px;
            width: 80px;
            float: left;
            margin: 0 20px 0 0;
        }

        .find-user-block .info {
            padding: 7px 0 0;
            font-size: 13px;
        }

    .page-header {
        display: block;
        background: #fafbfc;
        padding: 0 20px;
        height: 54px;
        line-height: 54px;
        border-bottom: 1px solid #e7e8ec;
        border-radius: 4px 4px 0 0;
        font-size: 16px;
        outline: none;
        color: #000;
    }

    body {
        background: #edeef0 !important;
    }

    .result-user {
        position: relative;
        background: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
        padding: 0 15px;
    }

    .ui_search {
        z-index: 3;
        border-bottom: 1px solid #e7e8ec;
        background-color: #fff;
        position: relative;
    }

    input.ui_search_field {
    background: url(/Content/icon/search_icon.png) no-repeat;
    background-position: 0;
    background-position-x: 20px;
    color: #000;
    outline:none;
    padding: 14px 44px 13px 48px;
    width: 100%;
    border: none;
    margin: 0;
    line-height: 18px;
}

    .user-filter {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 7px 15px 5px;
    font-size: 13px;
}

    .user-filter .main-text{
        margin: 6px 0 0;
    padding: 0 0 13px;
    font-weight: 700;
    cursor: pointer;
    color: #656565;
    font-size: 12.5px;
    }

</style>

<div class="row p-0 justify-content-center">
    <div class="col-9 ">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-12 page-header">
                        People @Model.Count()
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="ui_search">
                            <input type="text" class="ui_search_field _field" id="search_query" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search users">
                        </div>
                    </div>
                </div>
                <div class="row result-user">
                    @foreach (var user in Model)
                    {

                        <div class="find-user-block col-12 ">
                            <div class="avatar d-flex">
                                @if (user.Avatar != null)
                                {
                                    @:<img class="rounded-circle img-fluid" src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Avatar))" />
                                }
                                else
                                {
                                    @:<img class="rounded-circle img-fluid" src="/Content/icon/header/avatar.png" />
                                }
                            </div>
                            <div class="info">
                                <a href="@Url.Action("Index", "User", new { id = user.Id })">@user.FirstName @user.LastName</a>
                            </div>
                        </div>
                        <hr />

                    }
                </div>
            </div>
            <div class="col-3">
                <div class="user-filter">
                    <div class="main-text">
                        Gender
                    </div>
                    <!-- Default unchecked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                        <label class="custom-control-label" for="defaultUnchecked">Male</label>
                    </div>

                    <!-- Default checked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                        <label class="custom-control-label" for="defaultChecked">Female</label>
                    </div>

                    <button class="btn btn-block py-0 mt-3   btn-outline-primary">Find User</button>
                </div>
              
            </div>
        </div>
    </div>
</div>
