﻿@model User
@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<style>
    .block {
        border-radius: 5px;
        padding: 15px;
    }

    .photo-block {
        width: 100%;
    }

        .photo-block img {
            width: 100%;
            border-radius: 5px;
        }

        .photo-block a {
            padding-right: 5px;
            margin-top: 15px;
        }

    .block:not(:first-child) {
        margin-top: 20px;
    }

    .weight-block span.value-weight {
        font-size: 20px;
        vertical-align: middle;
        padding-left: 5px;
    }

    .weight-block span.type {
        color: red;
        vertical-align: bottom;
        font-weight: 500;
    }

    .update-weight {
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>

<div class="row px-5">
    <div class="col-4">
        <div class="block photo-block shadow ">
            @if (Model.Avatar != null)
            {
                @:<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
            }
            else
            {
                @:<img src="/Content/icon/avatar.png" />
            }
          <!--  <a href="@Url.Action("Edit")" class="btn btn-block btn-outline-danger">Edit profile</a>
            <a href="@Url.Action("HistoryPoint")" class="btn btn-block btn-outline-success">History point</a>-->
        </div>
        <div class="block friend-block shadow ">
            friends block
        </div>      
    </div>
    <div class="col-8">
        <div class="block info-block shadow ">
            <h5>@Model.FirstName @Model.LastName</h5>
            <hr>
            Point: @Model.Point
        </div>
        <style>
        </style>     
    </div>
</div>