﻿@model IEnumerable<ActivityTypeViewModel>
@{
    ViewData["Title"] = "Select type";
}

<style>
    .card {
        height: 300px;
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.1);
            transition-duration: 1s;
        }

        .card > img {
            position: absolute;
            width: 80%;
            height: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            opacity: 0.05;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 3;
        }

    .card-body {
        z-index: 4;
    }

    .main-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .card-title {
        font-weight: 800;
    }

    .activity-block {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
    }
</style>

<h2 class="text-center mt-5 pt-0">Select type workout</h2>
<div class="main-container h-100">
    <div class="card-deck">
        <div class="card" onclick="window.location='@Url.Action("CreateNumber")';">
            <img src="~/Content/icon/type/count.png" alt="Count">
            <div class="card-body d-flex h-100">
                <div class="row justify-content-center align-self-center mx-auto">
                    <h2 class="card-title">Count workout</h2>
                </div>
            </div>
            <div class="activity-block text-center">
                @foreach (var item in Model)
                {
                    if (item.Icon != null && item.CountingType == "counter")
                    {
                        @: <img style='width:25px; height:25px; opacity: 1;' title="@item.NewName" src="data:image/jpeg;base64,@(Convert.ToBase64String(@item.Icon))" />
                    }
                }
            </div>
        </div>

        <div class="card" onclick="window.location='@Url.Action("CreateDistance")';">
            <img src="~/Content/icon/type/distance.png" alt="Distance">
            <div class="card-body d-flex h-100">
                <div class="row justify-content-center align-self-center mx-auto">
                    <h2 class="card-title">Distance workout</h2>
                </div>
            </div>
            <div class="activity-block text-center">
                @foreach (var item in Model)
                {
                    if (item.Icon != null && item.CountingType == "km")
                    {
                        @: <img style='width:25px; height:25px; opacity: 1;' title="@item.NewName" src="data:image/jpeg;base64,@(Convert.ToBase64String(@item.Icon))" />
                    }
                }
            </div>
        </div>

        <div class="card" onclick="window.location='@Url.Action("CreateTime")';">
            <img src="~/Content/icon/type/time.png" alt="Time">
            <div class="card-body d-flex h-100">
                <div class="row justify-content-center align-self-center mx-auto">
                    <h2 class="card-title">Time workout</h2>
                </div>
            </div>
            <div class="activity-block text-center">
                @foreach (var item in Model)
                {
                    if (item.Icon != null && item.CountingType == "time")
                    {
                        @: <img style='width:25px; height:25px; opacity: 1;' title="@item.NewName" src="data:image/jpeg;base64,@(Convert.ToBase64String(@item.Icon))" />
                    }
                }
            </div>
        </div>
    </div>
    <a class="btn btn-outline-danger mt-5" href="@Url.Action("Index", "Workout" )">Back</a>
</div>
