﻿@model int
@{
    ViewData["Title"] = "ConfirmDelete";
}

<h2>Confirm Delete workout # @Model</h2>


<form asp-controller="Workout" asp-action="Delete" method="post">
    <div class="form-group">
        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
    </div>
</form>