﻿@model IEnumerable<WorkOut.Data.Models.Workout>

@{
    ViewData["Title"] = "Workout list";
}

<div class="row px-3 py-2 ">
    <div class="col-5">
        <h2>Workout list</h2>
    </div>
    <div class="col-7 text-right">
        <a class="btn btn-outline-primary" href="@Url.Action("Create")">Add new workout</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Date/Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calouries)
            </th>
            <th>
                Result
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @if (item.ActivityType.Icon != null)
                {
                    @:<img style='width:25px; height:25px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ActivityType.Icon))" />
                }
                &nbsp;&nbsp;  @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calouries)
            </td>
            <td>

                @if (item.ActivityType.CountingType == "counter")
                {
                    int val = 0;
                    @for (int i = 0; i < item.NumberWorkout.Sets.Count; i++)
                    {
                        val += item.NumberWorkout.Sets.ElementAt(i).Value;
                    }

                    @:@val times
                }
                else if (item.ActivityType.CountingType == "km")
                {
                    @:@item.DistanceWorkout?.Distance.ToString("0.00").Replace(',', '.') km
                }
                else if (item.ActivityType.CountingType == "time")
                {
                    
                    @:@((item.DateTimeFinish - item.DateTimeStart).ToString())
                }
            </td>

            <td>


                @if (item.ActivityType.CountingType == "counter")
                {
                    <a asp-action="EditNumber" asp-route-id="@item.Id">Edit</a> @:|
                    <a asp-action="DetailsNumber" asp-route-id="@item.Id">Details</a>
                }
                else if (item.ActivityType.CountingType == "km")
                {
                    <a asp-action="EditDistance" asp-route-id="@item.Id">Edit</a> @:|
                    <a asp-action="DetailsDistance" asp-route-id="@item.Id">Details</a>
                }
                else if (item.ActivityType.CountingType == "time")
                {
                    <a asp-action="EditTime" asp-route-id="@item.Id">Edit</a> @:|
                    <a asp-action="DetailsTime" asp-route-id="@item.Id">Details</a>
                }

                | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index" asp-controller="Home">Back to Home</a>
