﻿<style>
    ul li:before {
        font-family: 'FontAwesome';
        content: '\f005';
        margin: 0 5px 0 -15px;
        padding-right: 10px;
        color: #f00;
    }

    h1 {
        font-family: 'Indie Flower', cursive;
        font-size: 75px;
    }

    h2 {
        font-family: 'Indie Flower', cursive;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<div class="container h-100">

    <div class="row h-100 justify-content-center">
        <div class="row justify-content-center  align-items-center">
            <img class="mt-1" src="~/Content/icon/header/dumbbell.png" style="padding-right: 30px; width: 100px; height: 75px;" /><h1 style="font-weight: 500;">Work</h1><h1 style="color:red; font-weight: 700;">Out</h1>       
       </div>
        <div class="row justify-content-center  align-items-start">
            <div class="col-md-7 col-sm-12 pb-3">
                <img src="~/Content/back.png" style=" width: 100%;" />
            </div>
            <div class="col-md-5 text-center col-sm-12">
                <h2>Новая социальная спортивная площадка!</h2>
                <hr class="mt-5" />
                <ul class="fa-ul">
                    <li>3 типа тренеровок!</li>
                    <li>Новые спортивные друзья!</li>
                    <li>Подробная статистика!</li>
                    <li>Оценивай тренеровки друзей</li>
                </ul>
                <hr class="mb-5" />
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="@Url.Action("Login","Account")" class="btn btn-primary">Login</a>
                    <a href="@Url.Action("Register","Account")" class="btn btn-outline-danger">Register</a>
                </div>
            </div>
        </div>
    </div>

</div>